.candidate-card {
  &-container {
    align-items: center;
    background-color: $white;
    border: 1px solid whitesmoke;
    border-radius: $rounded-lg;
    box-shadow:
      0 4px 6px -1px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: $spacer-lg;
  }

  &-content {
    &-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: $spacer-md;
      padding: $spacer-lg;
      width: 100%;
    }
  }

  &-top {
    &-container {
      align-items: center;
      display: flex;
      flex: 2;
      justify-content: center;
      width: 100%;
    }
  }
  &-bottom {
    &-container {
      flex: 1;
      justify-content: center;
      width: 100%;
    }
  }

  &-avatar {
    &-container {
      border-radius: 100%;
      height: 200px;
      overflow: hidden;
      width: 200px;
    }

    &-image {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  &-list {
    display: grid;
    gap: $spacer-2xl;
    grid-template-columns: repeat(1, 1fr);
    padding: $spacer-lg 0;
    width: 100%;

    @media (width >= $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width >= $laptop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
