.job-post-card {
  &-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 $spacer-md;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }
  }
  &-container {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: $spacer-md;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(220, 12%, 10%);
    }
  }

  &-content {
    &-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: $spacer-md 0;
    }
  }

  &-header {
    &-container {
      display: flex;
    }
    &-content {
      &-container {
        display: flex;
        flex-direction: column;
        gap: $spacer-xs;
        justify-content: center;
        padding: 0 $spacer-md;
      }
    }
  }

  &-detail {
    &-container {
      background-color: $neutral-100;
      border-radius: 4px;
      overflow: hidden;
      padding: $spacer-sm;
    }
    &-group {
      align-items: center;
      display: flex;
      flex: 1;
      gap: $spacer-sm;
      padding: $spacer-sm 0;
    }
  }

  &-company-logo {
    &-container {
      border-radius: 6px;
      height: 70px;
      overflow: hidden;
      width: 70px;
    }
    &-image {
      height: 100%;
      width: 100%;
    }
  }
}
