.footer-container {
  align-items: center;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 60px;
  width: 100%;
}

.footer-links-container {
  display: flex;
  gap: 20px;
}
