.footer {
  &-container {
    align-items: center;
    background: white;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 32px;
    flex-direction: column;
    width: 100%;
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
      background-color: #171c1f;
      color: white;
    }

    @media (width >= 640px) {
      flex-direction: row;
      padding: 16px 32px;
    }
  }

  &-links-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    flex: 1;
  }

  &-copyright-text {
    font-size: 1.3rem;
  }

  &-link {
    font-size: 1.3rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
