.header {
  &-container {
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgray;
    display: none;
    height: 70px;
    padding: $spacer-md $spacer-2xl;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }

    @media (width >= $laptop) {
      display: flex;
    }

    &-left {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: flex-start;
    }
    &-center {
      align-items: center;
      display: flex;
      flex: 2;
      justify-content: center;
    }

    &-right {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: $spacer-sm;
    }
  }

  &-icon {
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 48px;
      border-radius: 100%;

      overflow: hidden;

      &:hover {
        background-color: whitesmoke;
        cursor: pointer;
      }
    }
    &-icon {
      font-size: 20px;
    }
  }

  &-avatar {
    &-image {
      height: 100%;
      width: 100%;
    }
    &-container {
      border-radius: 100%;
      height: 50px;
      overflow: hidden;
      width: 50px;

      &:hover {
        outline: 1px solid blue;
      }
    }
  }
  &-burger-menu-button {
    &-container {
      align-items: center;
      background: none;
      border-radius: 100%;
      display: flex;
      height: 24px;
      justify-content: center;
      transition-duration: 0.5s;
      width: 24px;
      &:hover {
        color: royalblue;
        cursor: pointer;
      }
    }
    &-icon {
      font-size: 16px;
    }
  }
  &-logo {
    &-container {
      align-items: center;
      background: none;
      display: flex;
      gap: 8px;
    }
    &-image {
      height: 24px;
      object-fit: contain;
    }
    &-text {
      color: black;
      font-size: 2rem;
      font-weight: 600;

      @media (prefers-color-scheme: dark) {
        color: white;
      }
    }
  }
  &-link {
    color: black;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    @media (prefers-color-scheme: dark) {
      color: white;
    }

    &:hover {
      color: royalblue;
      cursor: pointer;
    }
    &-active {
      color: royalblue;
      font-size: 14px;
      font-weight: 500;
    }
    &-group {
      align-items: center;
      display: flex;
      gap: 32px;
    }
  }
}
