.header {
  &-container {
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 64px;
    left: 0px;
    position: sticky;
    top: 0px;
    width: 100%;
    background: white;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
  }
  &-logo {
    &-container {
      display: flex;
    }
    &-text {
      color: #8046f0;
      font-size: 2.4rem;
      font-weight: 600;
    }
  }
  &-content {
    &-container {
      align-items: center;
      display: flex;
      gap: 20px;
    }
  }
  &-profile {
    &-container {
      align-items: center;
      display: flex;
      gap: 20px;
    }
  }
}
