.sidebar {
  &-container {
    background: white;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 300px;
  }
}
