.account-settings-menu {
  &-container {
    background: white;
    border: 1px solid lightgray;
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem;
  }
}

.account-settings-page-content-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
