.account-settings-menu {
  &-container {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3.2rem;
    border-radius: 0.8rem;
    border: 1px solid lightgray;
  }
}

.account-settings-page-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
