.job-post-card {
  &-list {
    align-items: center;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 $spacer-md;

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }
  }
  &-container {
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: $spacer-md;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightgray;
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(220, 12%, 10%);
    }
  }

  &-content {
    &-container {
      display: flex;
      flex-direction: column;
      padding: $spacer-md 0;
      flex: 1;

      justify-content: space-between;
    }
  }

  &-header {
    &-container {
      display: flex;
    }
    &-content {
      &-container {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0 $spacer-md;
        gap: $spacer-xs;
      }
    }
  }

  &-detail {
    &-container {
      padding: $spacer-sm;
      background-color: $neutral-100;
      border-radius: 4px;
      overflow: hidden;
    }
    &-group {
      display: flex;
      align-items: center;
      gap: $spacer-sm;
      padding: $spacer-sm 0;
      flex: 1;
    }
  }

  &-company-logo {
    &-container {
      height: 70px;
      width: 70px;
      border-radius: 6px;
      overflow: hidden;
    }
    &-image {
      height: 100%;
      width: 100%;
    }
  }
}
