.job-post-filter-menu {
  background-color: white;
  padding: $spacer-md;
  border-radius: 8px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &-option {
    &-container {
      display: flex;
      align-items: center;
      gap: $spacer-sm;
    }
    &-group {
      display: flex;
      flex-direction: column;
      padding: $spacer-sm 0;
    }
  }
}
