$rounded-none: 0px;
$rounded-sm: 2px; /* 2px */
$rounded: 4px; /* 4px */
$rounded-md: 6px; /* 6px */
$rounded-lg: 8px; /* 8px */
$rounded-xl: 12px; /* 12px */
$rounded-2xl: 16px; /* 16px */
$rounded-3xl: 24px; /* 24px */
$rounded-full: 9999px;
