h1 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.2rem;
}

h2 {
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 3.5rem;

  @media (width >= 640px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

h3 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.4rem;

  @media (width >= 640px) {
    font-size: 3.6rem;
    line-height: 4.7rem;
  }
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.1rem;

  @media (width >= 640px) {
    font-size: 2.8rem;
    line-height: 3.7rem;
  }
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;

  @media (width >= 640px) {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

h6 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;

  @media (width >= 640px) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

li {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

button,
input,
label,
select {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.heading-2xl {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.2rem;

  @media (width >= 640px) {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
}

.heading-xl {
  font-size: 2.9rem;
  font-weight: 600;
  line-height: 3.5rem;

  @media (width >= 640px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

.heading-lg {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.4rem;

  @media (width >= 640px) {
    font-size: 3.6rem;
    line-height: 4.7rem;
  }
}

.heading-md {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.1rem;

  @media (width >= 640px) {
    font-size: 2.8rem;
    line-height: 3.7rem;
  }
}

.heading-sm {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.6rem;

  @media (width >= 640px) {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

.heading-xs {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.7rem;

  @media (width >= 640px) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.text-xl {
  font-size: 1.8rem;
  line-height: 2.7rem;

  @media (width >= 640px) {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.text-lg {
  font-size: 1.6rem;
  line-height: 2.4rem;

  @media (width >= 640px) {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

.text-md {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-sm {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.text-xs {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

*,
html {
  font-family: Inter, sans-serif;
}
