.info-page {
  &-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
  }
  &-content {
    &-container {
      display: flex;
      justify-content: center;
      padding: 0 3.2rem;
      width: 100%;

      @media (min-width: 640px) {
        width: 50%;
      }
    }
  }
}
