.job-posts-page {
  &-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;

    padding: $spacer-md $spacer-2xl;
  }

  &-filter-menu-container {
    flex: 1;
  }

  &-card-list-container {
    flex: 2;
  }

  &-preview-container {
    flex: 3;
  }
}
