.settings-page {
  &-menu {
    &-container {
      background-color: white;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &-link {
      align-items: center;
      display: flex;
      padding: $spacer-lg;
      width: 100%;
    }
  }
  &-container {
    background: whitesmoke;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    min-height: 100vh;
    padding: 3.2rem;
    width: 100%;

    &-left {
      flex: 1;
    }
    &-center {
      flex: 2;
      padding: 0 $spacer-lg;
    }

    &-right {
      flex: 1;
    }
  }

  &-sidebar {
    &-container {
      width: 30rem;
    }
  }

  &-content {
    &-container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
